/* CARTO TEST  */
/* ========================================================================
   Customized
 ========================================================================== */
* {
  margin: 0;
  padding: 0;
}
body {
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
html, body-blue {
  height: 100%;
}
.body-blue {
    background-color: #202545;
}

/* unvisited link */
a:link {
 text-decoration:none;
  color: #4f4f4f;
}

/* visited link */
a:visited {
 text-decoration:none;
  color: #7e7e7e;
}

/* mouse over link */
a:hover {
  color: #0fb202;
}

/* selected link */
a:active {
  color: #000;
}

.carto-green {
  color: #0fb202;
}

/* ========================================================================
   TYPOGRAPHY
 ========================================================================== */
.roboto {
  font-family: 'Roboto', sans-serif;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.white-text {
  color: #fff;
}
.grey-text {
  color: #888888;
}
.vertical-align {
  position: relative;
  top: 35%;
}
/* TYPOGRAPHY SIZES  */
.x-large {
  font-size: 125px;
  line-height: 140px;
}
.large {
  font-size: 65px;
  line-height: 80px;
}
.medium {
  font-size: 30px;
  line-height: 40px;
}
.m-large {
  font-size: 20px;
  line-height: 30px;
}
.small {
  font-size: 14px;
  line-height: 20px;
}
.x-small {
  font-size: 12px;
  line-height: 20px;
}
.negrita {
  font-weight: bold;
}
/* FONT WEIGHT  */

.cien {
  font-weight: 100;
}
.doscientos {
  font-weight: 200;
}
.trescientos {
  font-weight: 300;
}
.cuatrocientos {
  font-weight: 400;
}
.quinientos {
  font-weight: 500;
}
/* TYPOGRAPHY COLORS  */
.white-text {
  color: #fff;
}
.grey-text {
  color: #888888;
}


/* ========================================================================
    customized hr
 ========================================================================== */
hr {
  position: relative;
  height: 10px;
  top: 10px;
  width: 60%;
  left: 20%;
}
/* ========================================================================
   MOBILE MENU
 ========================================================================== */
.mobile-menu {
  position: fixed;
  display: block;
  width:100%;
  max-width: auto;
  background: #fff;
  height: 50px;
  padding-top: 20px;
  padding-left: 30px;
  border-bottom: 1px solid #e6e6e6;
  z-index:999;
  margin-top: -20px;
  margin-left: 0%;
}


/* ========================================================================
   NAV MENU
 ========================================================================== */


.md-fixed-menu {
  position: fixed;
  width: 87%;
  max-width: auto;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
  height: 22px;
  float: left;
  padding: 7px 0px 45px 0px;
  color: #383838;
  z-index: 999;
  left: 5%;
  top: -5px;
}
/* submenu list*/
.menulist li {
  position: relative;
  display: inline;
  top: 20px;
  padding-right: 40px;
  left: 290px;
}


.menu-margin {
  margin-top: 10px;
}


/* ========================================================================
    SECTIONS
 ========================================================================== */

 /* main menu */
 .md-margin-menu-icon {
  text-align: right;
  padding-right: 30px;
}
.md-margin-menu-icon {
  text-align: right;
  padding-right: 40px;
}


.section-1 {
  margin-top: 160px;
  margin-left: 45px;
  position: fixed;
  background-color: #f9f9f9;
  padding-left: 0px;
  padding-top: 0px;
  overflow: scroll;
  overflow-x:hidden;
  height: 40%;
  width: 230px;
}
.section-2 {
  width: 63%;
  margin-left: 330px;
  margin-top: 0px;
  background-color: #f9f9f9;
  padding-left: 0px;
  padding-right: 5%;
  padding-top: 45px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.md-margin-lead {
  max-width: 70%;
}
.section-3 {
  position:fixed;
  background-color: #f9f9f9;
  padding-left: 10px;
  margin-top: 260px;
  margin-left: 1240px;
  max-width: 280px;
  border-left: 1px solid #bbbbbb;
}
.list-section-1 {
  line-height: 30px;
  margin-left: -45px;
}
.margin-li-section-3 {
  line-height: 30px;
  margin-left: 28px;
}


/* SEARCHBOX MARGIN */
.margin-searchbox {
  margin-top: 20px;
  margin-bottom: 40px;
}
.title-margin {
  margin: 50px 0px 15px 0px;
}

/* ========================================================================
    MD PANEL BOX
 ========================================================================== */
.md-panel-box {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #e3e3e3;
}
.md-panel-box-down-margin {
  position: relative;
  margin-bottom: 30px;
}


/* ========================================================================
    ICONS
 ========================================================================== */

.icon-margin-right {
  margin-right: 15px;
}

.logo-index-margin {
  position: relative;
  top: 20%;
}
.image-margin-top {
  position: relative;
  top: -4px;
}

/* ========================================================================
    WRAPPER with SCROLL MENU
 ========================================================================== */

.wrapper {
  display: block;
  width: 90%;
  /*border: 1px solid #f0f0f0;*/
  margin-left: auto;
  margin-right: auto;
  height: 90%;
}
.scroll {
  overflow: scroll;
  overflow-x: hidden;
}
.full-height {
  height: 100%;
  margin-top: 40px;
}
.main-wrapper {
  position:relative;
  width:auto;
  /*height:100vh;*/
}
.margin-alert {
  padding: 20px; 
}
.margin-line {
  position:relative;
  left: 28px;
  top: 10px;
  margin-bottom: 30px;
}
.focused-percentage {
  position: absolute;
  margin-top:60px;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.position-fixed {
  position: fixed;
  background-color: #f9f9f9;
  padding-right: 50px;
  border-bottom: 1px solid #c0c0c0;
  height: 25px;
}
.margin-logo {
  margin-left: 20px;
}
/* ========================================================================
    WRAPPER BOX IMAGES
 ========================================================================== */

.wrapper-box-image {
  position: relative;
  width: 100%;
  height: 275px;
  margin-bottom: 40px;
}

#box-text {
  position: absolute;
  text-align: center;
  font-size: 10px;
  color: #fff;
  left: 45%;
  top: 90%;
  z-index: 999;
  }
#box-icon {
  position: absolute;
  margin: auto;
  color: #fff;
  left: 39%;
  top: 15%;
  font-size: 150px;
  z-index: 990;
  }
#box-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 980;
  /*border: 1px solid #bbbbbb;*/
  border-radius: 4px;
  }












