/* ========================================================================
   MEDIA QUERY
 ========================================================================== */
/* RESPONSIVE */

@media screen and (max-width: 980px) {

  .md-fixed-menu {
    display: none;
    position: fixed;
    width: 87%;
    max-width: auto;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    height: 22px;
    float: left;
    padding: 7px 0px 45px 0px;
    color: #383838;
    z-index: 999;
    left: 5%;
    top: -5px;
    }
  .menulist li {
    position: relative;
    display: inline;
    top: 20px;
    padding-right: 30px;
    left: 0px;
  }
  .listsubmenu li {
    position: relative;
    display: inline;
    top: 91px;
    padding-right: 30px;
    left: 0px;
    background-color: #f9f9f9;
  }
  section {
    display: block;
    width: 88%;
    margin: 170px 20px 20px 20px;
  }
  .section-1 {
    display: none;
  }
  .section-2 {
    width: 95%;
    margin-left: 10px;
    margin-top: 0px;
    background-color: #f9f9f9;
    padding-left: 20px;
    padding-right: 5%;
    padding-top: 45px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .md-margin-lead {
    max-width: 95%;
  }
  .section-3 {
    display: none;
  }
  ul, ol {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .md-fixed-menu {
    display: none;
  }
  .menulist li {
    position: relative;
    display: inline;
    top: 20px;
    padding-right: 30px;
    left: 0px;
  }
  .listsubmenu li {
    position: relative;
    display: inline;
    top: 91px;
    padding-right: 30px;
    left: 0px;
    background-color: #f9f9f9;
  }
  .md-margin-lead {
    max-width: 95%;
  }
  section {
    display: block;
    width: 85%;
    margin: 170px 90px 0px 80px;
  }
  .section-1 {
    display: none;
  }
   .section-2 {
    width: 95%;
    margin-left: 10px;
    margin-top: 0px;
    background-color: #f9f9f9;
    padding-left: 20px;
    padding-right: 5%;
    padding-top: 45px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  } 

}

@media screen and (min-width: 1281px) {
  .mobile-menu {
    display: none;
  }
  .listsubmenu li {
    position: relative;
    display: inline;
    top: 91px;
    padding-right: 30px;
    left: 0px;
    background-color: #f9f9f9;
  }
  section {
    display: block;
    width: 94%;
    margin: 170px 0px 20px 75px;
  }
}
@media screen and (max-width: 980px) {
  section {
    display: block;
    width: 98%;
    margin: 120px 90px 0px 30px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper-box-image {
    display: none;
    }
  section {
    display: block;
    width: 90%;
    margin: 120px 90px 0px 15px;
  }
}



